$prymary-color: #1546a0;
$complementary-color: #0070ba;
$background-color: #f5f7fa;
$font: roboto, system-ui, helvetica, arial;

@mixin Text {
	font-family: $font;
	font-size: 25px;
	line-height: 30px;
	font-weight: 400;
}

//global styles
button {
	background-color: transparent;
	border: none;
	svg {
		color: white;
		&:hover {
			color: rgba(255, 255, 255, 0.7);
		}
	}
}

.Layout {
	background-color: $background-color;
}
