$success-color:#41D7A7;
$primary-color:#E83283;
$font: system-ui, helvetica ,arial;

@mixin Text {
    font-family: $font;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}


//global styles
button{
    background-color: transparent;
    border: none;
    svg{
        color: white;
        &:hover{
            color:rgba(255,255,255,0.7);
        }
    }
}
