.Home-container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    .videos, .fav-videos{
        padding-top: 10px;
        span h2{
            margin-left: 1rem;
        }
    }
    @include media(tablet){
        .vid-container,.Favorite-videos{
            display: flex;
            flex-wrap: wrap;
        }
    }
}