.Navbar{
    
    .links{
        display: flex;
        flex-direction: row;
    }
}

.searcher{
    position: relative;
    max-width: 80vw;
    
    margin: 0 auto;
    background-color: #fff;
    div{
        display: flex;
        justify-content: center;
        height: 35px;
        border-radius: 20px;
        width: 100%;
        
        input{
            width: 90%;
            outline: none;
            border: none;
        }
        button,svg{
            background-color: #fff;
            border: none;
        }
    }
    ul{
        position: absolute;
        background-color: #fff;
        width: 100%;
        border-radius: 20px;
        li{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            resize: horizontal;
            width: 100%;
            resize: none;
            a{
                color: #000;
            }
        }
    }
}