.VideoContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $background-color;
	.videoPlayer {
		.info {
			width: 90vw;

			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			padding: 10px;
			background-color: #fff;
			margin-top: 10px;
			border-radius: 10px;
			box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
			button svg {
				color: #000;
			}
		}
		video {
			width: 90vw;
		}
	}
	.recomendations {
		width: 90vw;
		background-color: #fff;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
		margin-top: 10px;
		border-radius: 10px;
		.vid-container {
			justify-content: center;
		}
		.card2 {
			margin: 10px;
		}
	}
	.vid-container {
		display: flex;
		flex-wrap: wrap;
		padding-top: 10px;
		//justify-content: center;
	}
	.favorites {
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
		background-color: #fff;
		width: 90vw;
		margin-top: 10px;
		border-radius: 10px;
		padding: 10px;
		.vid-container {
			flex-wrap: nowrap;
			justify-content: initial;
			overflow: auto;
			.card2 {
				margin: 10px 10px 20px 0;
			}
		}
		.colapsable_icon {
			display: none;
		}
	}
	@media (min-width: 1100px) {
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;

		.recomendations,
		.favorites {
			width: 450px;
			&_title {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.open {
				//smooth open
			}
			.close {
				display: none;
			}
			.colapsable_icon {
				display: block;
				margin-right: 10px;
			}
			.vid-container {
				justify-content: center;
				flex-direction: column;
			}
			.card2 {
				width: auto;
				.card_info {
					width: 280px;
					h3 {
						width: 250px;
					}
				}
			}
		}
		.videoPlayer .info {
			width: 100%;
		}
		.videoPlayer {
			width: 55vw;
			margin-top: 10px;
			margin-right: 20px;
			video {
				width: 55vw;
				height: 30.93vw;
			}
		}
	}
	@media (max-width: 425px) {
		.vid-container {
			.card2 {
				width: 260px;
				.card_info a h3 {
					margin-left: 0;
					width: 120px;
					font-size: 1.2rem;
				}
				.card_info .info {
					p {
						font-size: 0.8rem;
					}
					svg {
						font-size: 1.3rem;
					}
				}
			}
		}
	}
}
