.card {
    width: 300px;
    height: 327px;
    resize: none;
    margin: 0 auto;
    margin: 5px;
    img{
        width: 95%;
        margin: 0 auto;
    }
    h3{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        resize: none;
    }
    button{
        background-color: transparent;
        border: none;
        .fa-plus-circle{
            color: #41D7A7;
            background-color: white;
            border-radius: 50%;
        }
        .fa-minus-circle{
            color: #E83283;
            background-color: white;
            border-radius: 50%;
        }
    }
    .card-body{
        padding: .5rem;
        display: flex;
        justify-content: flex-end;
    }
}