.video-card{
    width: 300px;
    margin: 7px;
    @include border;
    position: relative;
    border-radius: 20px;
    @include Shadow;
    img{
        width: 295px;
        border-radius: 10px;
    }
    h5{
        @include Text;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        resize: horizontal;
        width: 100%;
        resize: none;
        bottom: 0;
        color: #fff;
        
    }

    .card-img-overlay{
        background: linear-gradient(transparent, #000);
        position: absolute;
        border-radius: 10px;
        @include Text;
    }

    h5{
        margin-top: 60px;
    }

    .info-container{
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        button{
            margin-left: 20px;
            background-color: transparent;
            border: none;
            .fa-minus-circle{
                color:#EF0011;
            }
            .fa-plus-circle{
                color:#00BD4E;
            }
        }
    }  
}